__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

ckpts/
data/
ply_outputs/
masked_perspectives/
skyseg.onnx

*.ply
*.glb
*.sensor
pose.txt
camera_poses.txt
camera_poses.sensor
camera_centers.ply
camera_trajectory.ply

.DS_Store
Thumbs.db
